body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

footer {
    margin: 50px 0;
}

.boxed {
    border:1px solid #d4d4d4;
    padding-right : 10px;
    padding-left: 10px;
}
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;

}

.navbar .navbar-collapse {
  text-align: center;
}
.navbar-default {
    background-color: #FFFFFF;
    border-color:#FFFFFF;
}

.navbar-default .navbar-nav > li > a > strong {
    color: #a32924;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* link */
.navbar-default .navbar-nav > li > a {
    color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}

div.index-container {
    color:black;
    background-color: #ececec ;
}

img.img-responsive.jumbo {

    border-radius: 15px; 
    height:auto; 
    max-width: 63%; 
    margin-left:auto;
    margin-right: auto

}

h2.orange {

    color: #a32924;

}

div.darker {
    background-color :#d4d4d4;
}

hr { 
    display: block; height: 1px;
    border: 0; 
    border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}